@media (min-width: 1200px) {
    .ServiceCard {
        width: 290px;
        height: 290px;
    }

    .ServiceCard__image {
        padding-top: 10%;
        width: 100px;
        height: 100px;
    }

    .ServiceCard__title {
        padding-top: 10%;
        font-size: 20px;
    }

    .ServiceCard__aboutButton {
        font-size: 20px;
        width: 192px;
        height: 40px;
        margin-top: 10% !important;
    }
}